# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
venv/

# Environment variables
.env

# Vosk models and large data
models/

# macOS system files
.DS_Store

# VS Code settings
.vscode/
